*{
    margin: 0;
padding: O;
}
body{
    background-image: url(/g.webp);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
height: 30rem;
}


* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  
  .nav {
    height: 50px;
    width: 100%;
    background-color: #4d4d4d;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(20vh - 10px);
      overflow-y: auto;
    }
  } 
.introduction{
    /* border: solid orange ; */
    width:10rem;
    padding-left: 20rem;
    padding-top: 20rem;
}
.introduction button{
    background-color: transparent;
    border-color:  crimson;
    width: 10rem;
    height: 2.5rem;
    color: crimson;
}

@media only screen and (max-width:700px){
    nav{
        /* color: white; */
        display: block;
        /* justify-content: center; */
    
    }
    
    }
    
    nav ul li{

    /* display: flex; */
        padding-left: 45px;
        list-style: none;
    
    }
    .introduction{
        /* border: solid orange ; */
        width:5rem;
padding: 0px 0px 5px 50px;
margin-left: 5rem;
margin-top: 10rem;
        /* padding-top: 10rem; */
    }
}